@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'cool';
    src: url('/font/coolvetica-rg.otf') format('truetype'),
    /* Add more src URLs for different font formats if necessary */
}
@font-face {
    font-family: 'coolit';
    src: url('/font/coolvetica-rg-it.otf') format('truetype'),
    /* Add more src URLs for different font formats if necessary */
}